.venv
resources
imagenes_prueba
training/dataset*
training_rocio/dataset*
*.pt
runs
RTCP
*__pycache__
dist
build
main.spec
23_NT_R1_J7_P9_P10.mp4.csv
23_NT_R1_J7_P9_P10.mp4.json
error_derecha.csv
error_izquierda.csv
